body {
    font-family: Satoshi, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5d9ff;
}

nav.header {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
    position: page;
    bottom: 0;
    width: 100%;
    opacity: 80%;
}

.navbar-nav .header-titel {
    margin-left: auto;
    /*display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-right: 25px;
    margin-bottom: 40px;*/
}

header {
    position: fixed;
    width: 100%;
    background-color: #030689;
    opacity: 1;
    color: #ffffff;
    transition: opacity 0.3s ease-out;
}


header.fade-out {
    opacity: 0;
    transition: opacity 2s;
}

header.fade-in {
    opacity: 1;
    transition: opacity 0.3s;
}

#headerbild {
    width: 100%;
}

nav ul a {
    text-decoration: none;
    font-weight: 900;
    font-size: 0.5cm;
    list-style: none;
    padding: 0;
    margin: 0 15px 0 15px;
}


nav.header {
    background-color: #030689;
    color: #ffffff;
}

ul.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    margin: 0;
    padding-bottom: 0;
    height: 60px;
}

h1 {
    margin: 0;
    padding-right: 25px;
}